<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive bootstrap landing template">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="images/favicon.ico">

    <title>Nabiday - The dating app to find your true love.</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/icons.css" rel="stylesheet">
    <link href="css/icons-social.css" rel="stylesheet">
    <link href="css/flaticon.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>


<body data-spy="scroll" data-target="#menubar" style="padding-top: 80px;">

<nav class="navbar navbar-expand-lg fixed-top navbar-default navbar-light navbar-custom sticky shadow nav-alt">
    <div class="container">
        <!-- LOGO -->
        <a class="navbar-brand logo" href="/">
            <img src="images/nabidayLogo.png" class="logo" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav ml-auto navbar-center" id="mySidenav">
                <li class="nav-item active">
                    <a href="#home" class="nav-link scroll"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a href="#services" class="nav-link scroll"><b>Services</b></a>
                </li>
                <li class="nav-item">
                    <a href="#works" class="nav-link scroll"><b>Our Product</b></a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a href="#team" class="nav-link scroll">Team</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a href="#faqs" class="nav-link scroll"><b>FAQ</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section class="home-minimal home-carousel" id="home" style="color: white">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="4000">
        <!-- Indicators -->
        <!--<ol class="carousel-indicators carousel-indicators-dark">-->
            <!--<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
            <!--<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
        <!--</ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner carousel-custom" role="listbox">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 center-page">
                            <div class="home-wrapper text-center">
                                <div class="tlt">
                                    <p style="font-size: 35px; color: white; padding-bottom: 0px; margin-bottom: 0px">The day you feel</p> <p style="font-size: 35px; color: white; padding-bottom: 0px; margin-bottom: 10px"><b>butterflies</b> in your stomach</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<section class="section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="features-box features-box-fill text-center">
                    <a href="" style="color: white"><div class="feature-icon" style="background-color: #1C4752; border-color: #1C4752">
                        <i class="fab fa-kickstarter-k "></i>
                        <!--<i class="pe-7s-science"></i>-->
                    </div></a>
                    <h3><b>Support Us</b></h3>

                    <p class="text-muted">Nabiday will be on Kickstarter until March 18th. We will be very appreciated if you could support us! Thank you! (Kickstarter Link)</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="features-box features-box-fill text-center">
                    <a href="https://www.instagram.com/nabidayapp/" style="color: white"><div class="feature-icon" style="background-color: #DD2A7B; border-color: #DD2A7B">
                        <!--<i class="pe-7s-light"></i>-->
                        <i class="fab fa-instagram"></i>
                    </div></a>
                    <h3><b>Follow Us</b></h3>

                    <p class="text-muted">Follow us on instagram and earn a wing when the app comes out! <a
                            href="https://www.instagram.com/nabidayapp/">@nabidayapp</a></p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="features-box features-box-fill text-center">
                    <a href="https://www.facebook.com/NabiDayApp/" style="color: white"><div class="feature-icon" style="background-color: #3b5998; border-color: #3b5998">
                        <!--<i class="pe-7s-display1"></i>-->
                        <i class="fab fa-facebook-f" ></i>
                    </div></a>
                    <h3><b>Like Us</b></h3>

                    <p class="text-muted">Like us on Facebook page for updates on Nabiday! <a href="https://www.facebook.com/NabiDayApp/">@nabidayapp</a></p>
                </div>
            </div>
        </div>

    </div>
</section>


<section>
    <!--<div class="container">-->
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <img src="images/webBanner.png" class="img-fluid d-block">
            </div>
        </div>
    <!--</div>-->
</section>


<section class="section bg-white" id="works">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="title"><b>Our Product</b></h2>
                <p class="title-alt">Looks beautiful & ultra-sharp on Retina Screen Displays. Retina Icons, Fonts & all <br/> others graphics are optimized.</p>
            </div>
        </div>


        <div class="row">

            <div class="col-lg-6">
                <div class="gal-detail text-center">
                    <img src="images/nabiapp.gif" class="thumb-img" alt="work-thumbnail">
                </div>
            </div>

            <div class="col-lg-6">
                <br><br><br>
                <h2 class="title"><b>NabiDay</b> </h2>
                <br>
                <p style="font-size: 16px">
                    Numerous online dating applications and websites exist to help multitudes of people find the one. 40% of single users in the United States opt for online dating where uploading photos and personal information are usually a major requirement.
                    <br><br>Unfortunately, 53% of these online daters lie on their profiles. We understand everyone wants to show the best side of themselves, especially when the opportunity to do so is available.
                    <br><br>However, Nabiday has decided to take a new approach to the online dating world by matching users solely by personality. Users will take a quick quiz in which the app will analyze and use the data to find the best-suited match. All personal information will be kept private for each user in order to help you feel safe telling us about yourself. Nabiday has also decided to exclude any form of photography in order to avoid biased matches. If you are looking for the one who perfectly matches your personality, this app was made for you. Nabiday wants you to meet the one you deserve, let us find you the perfect match.</p>
            </div>


        </div>

    </div>
</section>
<section class="section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center subscribe-form">
                    <h3>Subscribe to receive updates and become our founding member.</h3>
                    <form action="/emailSubscribers" method="post">
                        <input type="text" placeholder="Email" id="email" name="email">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div> <!-- end Col -->
        </div>
    </div>
</section>



<!--<section class="section" id="pricing">-->
    <!--<div class="container">-->

        <!--<div class="row">-->
            <!--<div class="col-sm-12 text-center">-->
                <!--<h2 class="title">Simple Pricing</h2>-->
                <!--<p class="title-alt">Looks beautiful & ultra-sharp on Retina Screen Displays. Retina Icons, Fonts & all <br/> others graphics are optimized.</p>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
            <!--<div class="col-lg-10 offset-lg-1">-->
                <!--<div class="row">-->

                    <!--&lt;!&ndash;Pricing Column&ndash;&gt;-->
                    <!--<article class="pricing-column col-lg-4">-->
                        <!--<div class="inner-box">-->
                            <!--<div class="plan-header text-center">-->
                                <!--<h3 class="plan-title">Basic</h3>-->
                                <!--<h2 class="plan-price">$19</h2>-->
                                <!--<div class="plan-duration">Per Month</div>-->
                            <!--</div>-->
                            <!--<ul class="plan-stats list-unstyled">-->
                                <!--<li> <i class="pe-7s-server"></i>10 GB Storege</li>-->
                                <!--<li> <i class="pe-7s-graph"></i>500 GB Bandwidth</li>-->
                                <!--<li> <i class="pe-7s-mail-open"></i>Email Support</li>-->
                                <!--<li> <i class="pe-7s-tools"></i>24x7 Support</li>-->
                            <!--</ul>-->

                            <!--<div class="text-center">-->
                                <!--<a href="#" class="btn btn-sm btn-dark">Signup Now</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</article>-->

                    <!--&lt;!&ndash;Pricing Column&ndash;&gt;-->
                    <!--<article class="pricing-column col-lg-4">-->
                        <!--<div class="inner-box">-->
                            <!--<div class="plan-header text-center">-->
                                <!--<h3 class="plan-title">Premium</h3>-->
                                <!--<h2 class="plan-price">$29</h2>-->
                                <!--<div class="plan-duration">Per Month</div>-->
                            <!--</div>-->
                            <!--<ul class="plan-stats list-unstyled">-->
                                <!--<li> <i class="pe-7s-server"></i>10 GB Storege</li>-->
                                <!--<li> <i class="pe-7s-graph"></i>500 GB Bandwidth</li>-->
                                <!--<li> <i class="pe-7s-mail-open"></i>Email Support</li>-->
                                <!--<li> <i class="pe-7s-tools"></i>24x7 Support</li>-->
                            <!--</ul>-->

                            <!--<div class="text-center">-->
                                <!--<a href="#" class="btn btn-sm btn-custom">Signup Now</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</article>-->

                    <!--&lt;!&ndash;Pricing Column&ndash;&gt;-->
                    <!--<article class="pricing-column col-lg-4">-->
                        <!--<div class="inner-box">-->
                            <!--<div class="plan-header text-center">-->
                                <!--<h3 class="plan-title">Developer</h3>-->
                                <!--<h2 class="plan-price">$39</h2>-->
                                <!--<div class="plan-duration">Per Month</div>-->
                            <!--</div>-->
                            <!--<ul class="plan-stats list-unstyled">-->
                                <!--<li> <i class="pe-7s-server"></i>10 GB Storege</li>-->
                                <!--<li> <i class="pe-7s-graph"></i>500 GB Bandwidth</li>-->
                                <!--<li> <i class="pe-7s-mail-open"></i>Email Support</li>-->
                                <!--<li> <i class="pe-7s-tools"></i>24x7 Support</li>-->
                            <!--</ul>-->

                            <!--<div class="text-center">-->
                                <!--<a href="#" class="btn btn-sm btn-dark">Signup Now</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</article>-->

                <!--</div>-->
            <!--</div>&lt;!&ndash; end col &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->




<!--<section class="section bg-white padding-b-0" id="clients">-->
    <!--<div class="container">-->
        <!--<div class="row text-center">-->
            <!--<div class="col-sm-12">-->
                <!--<h2 class="title">Trusted by Thousands</h2>-->
                <!--<p class="slogan">Lorem ipsum dolor sit amet, consectetur adipis.</p>-->
                <!--<ul class="list-inline client-list">-->
                    <!--<li class="list-inline-item"><a href="" title="Microsoft"><img src="images/clients/microsoft.png" alt="clients"></a></li>-->
                    <!--<li class="list-inline-item"><a href="" title="Google"><img src="images/clients/google.png" alt="clients"></a></li>-->
                    <!--<li class="list-inline-item"><a href="" title="Instagram"><img src="images/clients/instagram.png" alt="clients"></a></li>-->
                    <!--<li class="list-inline-item"><a href="" title="Converse"><img src="images/clients/converse.png" alt="clients"></a></li>-->
                <!--</ul>-->
            <!--</div> &lt;!&ndash; end Col &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->



<!--<section class="section bg-white" id="team">-->
    <!--<div class="container">-->

        <!--<div class="row">-->
            <!--<div class="col-sm-12 text-center">-->
                <!--<h2 class="title">Our People</h2>-->
                <!--<p class="title-alt">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all <br> others graphics are optimized.</p>-->
            <!--</div>-->
        <!--</div>-->


        <!--<div class="row">-->
            <!--<div class="col-lg-4">-->
                <!--<div class="team-box text-center">-->
                    <!--<img src="images/team/team-1.jpg" class="img-fluid mx-auto d-block rounded-circle">-->

                    <!--<h4>Shawn Castleman </h4>-->
                    <!--<p>Founder</p>-->
                    <!--<ul class="list-inline footer-social-one team-member-social m-b-0">-->
                        <!--<li class="list-inline-item"><a href="#"><i class="pe-so-facebook"></i></a></li>-->
                        <!--<li class="list-inline-item"><a href="#"><i class="pe-so-twitter"></i></a></li>-->
                        <!--<li class="list-inline-item"><a href="#"><i class="pe-so-linkedin"></i></a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-lg-4">-->
                <!--<div class="team-box text-center">-->
                    <!--<img src="images/team/team-2.jpg" class="img-fluid mx-auto d-block rounded-circle">-->

                    <!--<h4>Martha Davis</h4>-->
                    <!--<p>Web Designer</p>-->
                    <!--<ul class="list-inline footer-social-one team-member-social m-b-0">-->
                        <!--<li class="list-inline-item"><a href="#"><i class="pe-so-facebook"></i></a></li>-->
                        <!--<li class="list-inline-item"><a href="#"><i class="pe-so-twitter"></i></a></li>-->
                        <!--<li class="list-inline-item"><a href="#"><i class="pe-so-linkedin"></i></a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-lg-4">-->
                <!--<div class="team-box text-center">-->
                    <!--<img src="images/team/team-3.jpg" class="img-fluid mx-auto d-block rounded-circle">-->

                    <!--<h4>Henry Hope</h4>-->
                    <!--<p>Manager</p>-->
                    <!--<ul class="list-inline footer-social-one team-member-social m-b-0">-->
                        <!--<li class="list-inline-item"><a href="#"><i class="pe-so-facebook"></i></a></li>-->
                        <!--<li class="list-inline-item"><a href="#"><i class="pe-so-twitter"></i></a></li>-->
                        <!--<li class="list-inline-item"><a href="#"><i class="pe-so-linkedin"></i></a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</section>-->



<section class="section" id="faqs">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h2 class="title"><b>FAQ</b></h2>
                <p class="title-alt">some info here</p>

                <div class="row text-left">
                    <div class="col-sm-6">
                        <div class="question-box">
                            <h4><span class="text-colored">Q.</span>Why is there no form of direct messaging?</h4>
                            <p><span><b>A. </b></span>NabiDay believes that meeting in person first is best. To prevent any type of assumptions or misunderstandings through direct messaging, we want to ensure everyone is getting to know the person as they truly are in person.</p>
                        </div>

                        <div class="question-box">
                            <h4><span class="text-colored">Q.</span>Is NabiDay safe to use?</h4>
                            <p><span><b>A. </b></span>Yes! NabiDay has purposefully set meeting locations in public cafes (such as Starbucks, Peet’s Coffee, etc.) and only allow dates to happen between 10am-6pm. We personally do not recommend giving any form of personal information (such as email address, home address, phone number, bank account, etc.) on the first date as a safety precaution for both users. At the end of the date, when users are no longer in the same location, there will be an option to share numbers.</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="question-box">
                            <h4><span class="text-colored">Q.</span>Why are there no photos?</h4>
                            <p><span><b>A. </b></span>NabiDay does not believe pictures are necessary in order to find a match.  Additionally, we do not believe photos should be a defining factor when trying to get to know someone. Photos cannot and should not summarize who one is as a person</p>
                        </div>

                        <div class="question-box">
                            <h4><span class="text-colored">Q.</span>Why is it NabiDay?</h4>
                            <p><span><b>A. </b></span>“Nabi” in Korean is butterfly. It is the day to feel butterflies in your stomach so it’s NabiDay. Hope all the users of Nabiday to feel butterflies in their stomach by using our product.</p>
                        </div>
                    </div>

                </div>
            </div> <!-- end Col -->
        </div>

    </div>
</section>



<footer class="bg-dark footer-one">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 p-b-40">
                <img src="images/nabidayFooterLogo.png" alt="logo" class="footer-logo" height="40">
                <p class="about-text">At NabiDay, we opened the door of innovation with our exceptional dating app. Don’t settle for what’s conventional, </p>

                <p class="about-text">let NabiDay help you find healthy and meaningful relationship that will last forever!</p>
            </div>

            <div class="col-lg-2">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#services" class="nav-link scroll">Service</a></li>
                    <li><a href="#works" class="nav-link scroll">Our Product</a></li>
                    <li><a href="#faqs" class="nav-link scroll">FAQ</a></li>
                    <!--<li><a href="">Services</a></li>-->
                </ul>
            </div>

            <div class="col-lg-2 p-b-40">
                <h5>Support</h5>
                <ul class="list-unstyled">
                    <!--<li><a href="">Help &amp; Support</a></li>-->
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <!--<li><a href="">Terms &amp; Conditions</a></li>-->
                </ul>
            </div>

            <div class="col-lg-4">
                <div>
                    <h5>Contact us</h5>
                    <ul class="list-unstyled">
                        <!--<li><strong class="font-secondary font-14">Address:</strong> 795 Folsom Ave, Suite 600 CA 94107</li>-->
                        <!--<li><strong class="font-secondary font-14">Phone:</strong> (123) 456-7890, 123-4567 89 </li>-->
                        <li><strong class="font-secondary font-14">Email:</strong> <a href="mailto:info@nabiday.com">info@nabiday.com</a></li>
                    </ul>
                </div>
            </div>

        </div> <!-- end row -->
    </div>
    <!-- end container -->

    <div class="footer-one-alt">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="m-b-0 font-13 copyright">© 2019 Nabiday LLC. </p>
                </div>
                <div class="col-sm-6">
                    <ul class="list-inline footer-social-one m-b-0 float-right">
                        <li class="list-inline-item"><a href="#"><i class="pe-so-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="pe-so-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="pe-so-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="pe-so-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="pe-so-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>


<!-- js placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<!-- Jquery easing -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrollspy.min.js"></script>

<!--common script for all pages-->
<script src="js/jquery.app.js"></script>
<script>
    $(function() {
        $("#navbarCollapse").scrollspy({
            offset: 70
        });
    });
</script>

</body>
</html>