
<section class="section" id="faqs">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h2 class="title">Privay Policy</h2>

                <!--<div class="row text-left">-->
                <!--<div class="col-sm-6">-->
                <!--<div class="question-box">-->
                <!--<h4><span class="text-colored">Q.</span>Why is there no form of direct messaging?</h4>-->
                <!--<p><span><b>A. </b></span>NabiDay believes that meeting in person first is best. To prevent any type of assumptions or misunderstandings through direct messaging, we want to ensure everyone is getting to know the person as they truly are in person.</p>-->
                <!--</div>-->

                <!--<div class="question-box">-->
                <!--<h4><span class="text-colored">Q.</span>Is NabiDay safe to use?</h4>-->
                <!--<p><span><b>A. </b></span>Yes! NabiDay has purposefully set meeting locations in public cafes (such as Starbucks, Peet’s Coffee, etc.) and only allow dates to happen between 10am-6pm. We personally do not recommend giving any form of personal information (such as email address, home address, phone number, bank account, etc.) on the first date as a safety precaution for both users. At the end of the date, when users are no longer in the same location, there will be an option to share numbers.</p>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-sm-6">-->
                <!--<div class="question-box">-->
                <!--<h4><span class="text-colored">Q.</span>Why are there no photos?</h4>-->
                <!--<p><span><b>A. </b></span>NabiDay does not believe pictures are necessary in order to find a match.  Additionally, we do not believe photos should be a defining factor when trying to get to know someone. Photos cannot and should not summarize who one is as a person</p>-->
                <!--</div>-->

                <!--<div class="question-box">-->
                <!--<h4><span class="text-colored">Q.</span>Is Nabiday going to be available worldwide?</h4>-->
                <!--<p><span><b>A. </b></span>Nabiday will be available in the United States only, but we will try to spread worldwide by the end of 2020.</p>-->
                <!--</div>-->
                <!--</div>-->

                <!--</div>-->
            </div> <!-- end Col -->
        </div>

        <div class="row">

        <h4 class="text-muted">Last Updated: February 14th, 2019</h4>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Nabiday, Inc. (“we”, “us”, or “our”) operates http://www.nabiday.com (“Website”). This privacy policy informs you the policies regarding the collection of information.  Nabiday, Inc. will manage your Personal Information regarding how it is used, with whom it may be shared, and your choices about such uses and disclosures. By using our website, our mobile apps, and/or other services we provide (collectively, “Nabiday”), you agree to the collection and use of information as well as the practices set forth in this Privacy Policy. If you do not agree with this policy, then you must not access nor use Nabiday.</p>

        <h2>Information collection:</h2>
        <h3>Information collected automatically: </h3>

        <p>When you use Nabiday, information from your computer or mobile device is automatically collected and stored.
            This information includes, but is not limited to:
        </p>
        <ul>
            <li>Mobile Device ID. Every mobile device has its own unique ID number (e.g., IMEI, AD ID).</li>
            <li>Geographic Location. When registering for Nabiday through our mobile app or when enabling the location services features within the app, you are agreeing to share your geographic location with us.</li>
            <li>Device Information/Specifications. Technological information about your computer or mobile device, which are subjected but not limited to the type of device, web browser or operating system, IP address, etc. This information is collected in order to analyze trends, administer the site, prevent fraudulent activities, track visitor movement in the aggregate and also to gather broad demographic information.</li>
            <li>Length and Extent of Usage. The amounts of time and in what manner Nabiday was used in terms of the types of services and features. </li>
            <li>Cookies: “Cookies” are used to keep track of the different types of information while visiting Nabiday or when the service is in use. To briefly define “cookies”, they are miniature files stored in your computer which allows us to track the number of visitors on our Website and also gives us the ability to distinguish repeating visitors. It also allows our partnering third parties to save user preferences; track user trends, and also for advertisement purposes. Both session and persistent cookies are utilized on our Website; session cookies expire at the end of a particular visit to our Website, while persistent cookies (also called stored cookies) remain active until you disable them through your browser settings, or until a pre-set expiration date. Cookies are relied upon for a proper operation of Nabiday; therefore, when cookies are rejected from your brower, Nabiday will not be able to function appropriately. Users who refuse cookies assume all responsibility for any resulting loss of functionality with respect to Nabiday.</li>
            <li>Web Beacons: “Web beacons” (also known as “clear gifs” and “pixel tags”) are small transparent graphic images that are often utilized in conjunction with cookies in order to further personalize Nabiday for the users, collect a limited set of information about the visitors, and advertise to the users. Web beacons also operate in email communications in order to understand the behavior of the customers, for example, it allows us to know whether an email has been opened or acted upon.</li>
        </ul>

        <h3>Information you choose to provide:</h3>

        <p><b>Information You Provide Directly to Us.</b> When signing up with Nabiday, users are prompted to provide information such as email address, zip code, gender, etc. Additional information such as personality, religion, city of residence, etc., is also requested to build a stronger profile for Nabiday. Furthermore, it is completely optional to provide the “special categories of personal data”. Under applicable law, race, ethnicity, religion, philosophical or political views, and information relating to your sex life or sexual orientation are asked for. By affirmatively providing Nabiday with this information, you explicitly consent to our use of it for the purpose of fine tuning your match criteria with other people. Any information that you provide in the non-personal identifiable section of your profile will not be visible by your match.
        </p>
        <p><b>Emails:</b> Email address is required in order to register with certain Nabiday apps. Emails are used for both “administrative” (e.g., confirming your registration, notifying of matches) and “promotional” (e.g., newsletters, new product offerings, special discounts, event notifications, special third-party offers) purposes. Within the emails that are sent to the users, it contains a code that enables our database to track the usage of the emails, including whether the email was opened and what links (if any) were clicked. It is under the discretion of the users whether or not they chose to opt-out of receiving promotional emails and other promotional communications from Nabiday at any time via the opt-out links provided in such communications, or by emailing <strong class="font-secondary font-14"></strong> <a href="mailto:info@nabiday.com">info@nabiday.com</a> with your specific request. However, Nabiday reserves the right to send certain communication that relates to Nabiday such as service announcements, security alerts, update notices, or other administrative messages) without affording you the opportunity to opt out of receiving such communications.</p>

        <p><b>Text</b> Messages: Nabiday app will require a mobile telephone number in order to connect the users to their match. When the two users match and they both explicitly express mutual interest by clicking the “ACCEPT” button within Nabiday, the app will arrange the location and send the address through text message. In order to connect the two users together, once both users appear at the location directed, they will be prompted to continue with the meet up by pressing the “ACCEPT” button. Upon agreement, the two users will be connected together and will receive a text message containing the other person’s first name as well as his or her introduction. Nabiday will never share phone numbers with the users during this process, as all introductory text messages are sent using third party generated phone numbers. Nabiday will send text messages to the users’ mobile phone for purposes of communication in regards to Nabiday. By registering with Nabiday and providing your phone number, you consent to Nabiday sending you text messages via an automatic telephone dialing system. Your use of Nabiday is not contingent upon agreeing to receive text messages.</p>

        <p><b>Online</b> Survey Data: Periodically, we may conduct voluntary member surveys. We encourage everyone to participate in the surveys because they provide us with important information regarding the development and enhancement of Nabiday. We will not link the survey responses to your name or email address, and all responses will remain anonymous.</p>


        <h3>How we use the information</h3>

        <p>Pursuant to the terms of this Privacy Policy, we may use the information we collect from you for the following purposes:
            <br><br>
            1. Facilitate matches with other Nabiday users;
            <br>
            2. Respond to user’s comments and questions and to provide admirable customer service;
            <br>
            3. Modify and provide accurate communication to the users about Nabiday and its related offers, promotions, advertisement, news, upcoming events, and other information relevant to the user.
            <br>
            4. Monitor and analyze trends, usage and activities;
            <br>
            5. Investigate and prevent fraudulent and other illegal activities;
            <br>
            6. Provide, maintain, and improve Nabiday and our overall business;
            <br>
            7. Where Nabiday, otherwise have a legitimate interest in doing so, for example, direct marketing, research (including marketing research), network and information security, fraud prevention, and enforcing or defending against legal claims; and
            <br>
            8. Where you, otherwise consent to such use.</p>

        <p><b>Use for Research.</b> In addition to the uses outlined above, by using Nabiday, you agree to allow us to anonymously use the information from you and your experiences to continue our research into successful relationships, including how to create and foster these relationships, so that we may continue to improve the Nabiday experience. This research may be published in our blogs or interviews. However, all of your responses will be kept anonymous, and we assure you that no personal information will be published.</p>

        <h3>Sharing Your Information</h3>

        <p>The information we accumulate is used to provide and advance the satisfaction and the eminence of Nabiday, and without your consent we will not otherwise share your personal information to/with any other parties for commercial purposes, with the exception of: (a) to provide Nabiday, (b) when we have your permission, or (c) or under the following instances:</p>

        <p><b>Service Providers.</b> We may distribute your information with our third-party service providers that support various aspects of our business operations (e.g., marketing and analytics providers, security and technology providers, and payment processors).</p>

        <p><b>Legal Disclosures and Business Transfers.</b> We may disclose any information without notice or consent from you: (a) in response to a legal request, such as a subpoena, court order, or government demand; (b) to investigate or report illegal activity; or (c) to enforce our rights or defend claims. We may also transfer your information to another company in connection with a merger, financing due diligence, corporate restructuring, sale of any or all of our assets, or in the event of bankruptcy.</p>

        <p><b>Aggregate Data.</b> We may coalesce non-PII we collect with additional non-PII collected from other sources for our blog. We also may share aggregated, non-PII with third parties, including advisors, advertisers and investors, for the purpose of conducting general business analysis.</p>



        <h3>Referring Your Friends</h3>
        <p>As users of Nabiday, we greatly encourage you to refer your friends to Nabiday by sending us your friends’ email addresses or phone numbers. We will keep this information in our database, and enable you to send these friends a one-time email or text message from your device containing your name and inviting them to visit our site. This email will also include instructions on how to opt out and unsubscribe from our email list. However, you agree that you will not abuse this feature by entering the email addresses or phone numbers of those individuals who would not be interested in Nabiday.</p>

        <h3>Updating or Removing Account Information</h3>
        <p>You may review or edit your profile as desired, by logging into your Nabiday account using the information supplied during the registration process. If you would like to have your account deleted, Nabiday will deactivate your account first, and then permanently delete your account. Where you have consented to our use of your personal information, you may withdraw your consent at any time. Notwithstanding the foregoing, we may continue to contact you for the purpose of communicating information relating to your request for Nabiday services, or to respond to any inquiry or request made by you, as applicable. To opt out of receiving message concerning Nabiday, you must cease requesting and/or utilizing services from Nabiday, and cease submitting inquiries to Nabiday, as applicable.</p>

        <h3>Third Party Sites</h3>
        <p>Nabiday may contain links to other websites and services. If you choose to click on a third party link, you will be directed to that third party's website or service. The presence of a link to a website or service is not an endorsement, authorization or representation of our affiliation with that third party, nor is it an endorsement of their privacy or information security policies or practices. We do not exercise control over third party websites or services. Users must be aware that these third parties may place their own cookies or other files on your computer, collect data or solicit personal information from you. Other websites and services follow different rules regarding the use or disclosure of the personal information you submit to them. We encourage you to read the privacy policies or statements of the other websites and services you visit.</p>

        <h3>Age Restriction</h3>
        <p>We do not target nor allow persons under the age of 18 years to use Nabiday. Also we do not knowingly collect information from persons under the age of 16. If you are a parent or legal guardian who discovers that your child has provided us with information without your consent, you may contact us at <strong class="font-secondary font-14"></strong> <a href="mailto:info@nabiday.com">info@nabiday.com</a>, and we will promptly in a timely manner work to delete such information from our files.</p>

        <h3>Data Retention</h3>
        <p>Nabiday retains the personal information we receive as described in this Privacy Policy for as long as you use our services or as necessary to fulfill the purpose(s) for which it was collected, provide our services, resolve disputes, establish legal defenses, conduct audits, pursue legitimate business purposes, enforce our agreements, and comply with applicable laws.</p>

        <h3>Securing Your Personal Information</h3>
        <p>Though we take the necessary steps to ensure that your information is treated securely and in accordance with this Privacy Policy, the Internet, unfortunately, cannot be guaranteed to be 100% secure. We cannot ensure or warrant the security of any information you provide to us. We do not accept liability for unintentional disclosure.</p>
        <p>By providing personal information to Nabiday, you agree that we may communicate with you electronically regarding security, privacy, and administrative issues relating to your use of Nabiday. If we learn of a security system’s breach, we may attempt to notify you electronically by posting a notice on the Site or sending an e-mail to you. If preferable, you may have the legal right to receive this notice in writing. </p>

        <h3>Using Nabiday from outside the United States</h3>
        <p>If you are visiting Nabiday from outside the United States, please be aware that your information may be transferred to, stored, and processed globally, including the United States where our central database and servers are located and operated. By using our services, you understand and consent to the possibility of your information being transferred to our facilities and those third parties with whom we share it for processing as described in this Privacy Policy. Where required by law, international transfers of personal information will be supported by an adequacy mechanism.</p>

        <h3>Changes to this Privacy Policy</h3>
        <p>We may update this Privacy Policy occasionally. If there are any material changes to this Privacy Policy, Nabiday will notify you by email or as otherwise required by applicable law. When we post changes to this Privacy Policy, we will revise the "last updated" date at the top of this Privacy Policy. We recommend that you check our Website from time to time to inform yourself of any changes in this Privacy Policy or any of our other policies.</p>

        <h3>How to Contact Us</h3>
        <p>If you have any questions or concerns in regards to our privacy practices, this Privacy Policy, or how to lodge a complaint with the appropriate authority, please contact us by email at <strong class="font-secondary font-14"></strong> <a href="mailto:info@nabiday.com">info@nabiday.com</a>.</p>

        </div>
    </div>
</section>