<section class="section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

            </div>

            <div class="col-sm-6">
                <!--<div class="features-box features-box-fill text-center">-->
                    <!--<i class="fas fa-frown"></i>-->
                    <!--<h2><b>Sorry we don't recognize your email</b></h2>-->
                    <!--<br><br>-->
                    <!--<h4>Please give us valid email, so we can send you amazing information about our application.</h4>-->

                    <!--<a href="/"><u>Go back to Main Page</u></a>-->
                <!--</div>-->
                <div class="features-box features-box-fill text-center">
                    <a href="/" style="color: #fff200"><div class="feature-icon" style="background-color: #1C4752; border-color: #1C4752">
                        <i class="fas fa-frown"></i>
                        <!--<i class="pe-7s-science"></i>-->
                    </div></a>
                    <h3><b>Sorry we don't recognize your email</b></h3>


                    <p class="text-muted">Please give us valid email, so we can send you amazing information about our application.</p>
                    <a href="/"><u>Go back to Main Page</u></a>
                </div>


            </div>

            <div class="col-sm-3">

        </div>

    </div>
</section>