<section class="section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

            </div>

            <div class="col-sm-6">
                <div class="features-box features-box-fill text-center">
                    <img src="images/nabiday_moving.gif" alt="moving logo" style="width: 100px;">
                    <h2><b>Thank you</b></h2>
                    <br><br>
                    <h4>We will send you information about our app and free reward when we launch our app.</h4>

                    <a href="/"><u>Go back to Main Page</u></a>
                </div>


            </div>

            <div class="col-sm-3">

        </div>

    </div>
</section>